# Ignore everything
/*

# Except these files & folders
!/src
!index.html
!package.json
!tsconfig.json
!tsconfig.node.json
!tsconfig.app.json
!vite.config.ts
!.prettierrc
!README.md
!eslint.config.js

# Ignore auto generated routeTree.gen.ts
/src/routeTree.gen.ts