{
  "arrowParens": "always",
  "semi": false,
  "tabWidth": 2,
  "singleQuote": false,
  "trailingComma": "es5",
  "endOfLine": "lf",
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^(react/(.*)$)|^(react$)|^react-dom/client$",
    "",
    "^@tanstack/(.*)$",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/store/(.*)$",
    "^@/contexts/(.*)$",
    "^./contexts/(.*)$",
    "",
    "^@/config/(.*)$",
    "^@/constants/(.*)$",
    "^../constants(.*)$",
    "^@/lib/(.*)$",
    "",
    "^@/hooks/(.*)$",
    "^./hooks/(.*)$",
    "^../hooks/(.*)$",
    "",
    "^@/components/ui/(.*)$",
    "^@/components/(.*)$",
    "^./components/(.*)$",
    "^../components/(.*)$",
    "",
    "^@/features/(.*)$",
    "",
    "^./services/(.*)$",
    "^../services/(.*)$",
    "^../../services/(.*)$",
    "",
    "<TYPES>^(node:)",
    "<TYPES>",
    "<TYPES>^[.]",
    "",
    "^[./]"
  ]
}
