@import "tailwindcss";

:root {
  --background: #0f0f0f;
  --foreground: #f5f5f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  font-family: "Source Sans Pro", sans-serif;
  scrollbar-gutter: stable;
}
