@import "tailwindcss";

:root {
  --background: #0f0f0f;
  --foreground: #f5f5f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  :root {
    @apply bg-neutral-950;
  }

  body {
    @apply text-foreground flex min-h-dvh flex-col items-center bg-linear-to-bl from-neutral-950 via-neutral-400/15 to-red-950/15;
  }
}

body {
  font-family: "Source Sans Pro", sans-serif;
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 9999px;
}
